<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" {{ url_for('static', filename = 'style.css') }}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='googStuff.js') }}"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>HELLO WORLD</title>
</head>
<body>
  <div class="grid-container">
  <div class="grid-child">
    {% for title in content %}
    <button class="accordion">Song: {{ title[1] }} <br> Artist: {{ title[7] }} <br> Published: {{title[10]}} <p><a href="https://www.youtube.com/watch?v={{title[9]}}" target="_blank">
      <img src= '{{title[8]}}' loading='lazy'></a></p></button>
      <div class="panel">
        <p>Views: {{ title[2] }}, Likes: {{ title[3] }}, Dislikes: {{ title[4] }}, Comments: {{ title[6] }}</p>
      </div>
    {% endfor %} 
  </div>

  <div class="grid-child">
    <button class="tablink" onclick="openPage('popArtists', this, 'red' )">Popular Artists</button>
    <button class="tablink" onclick="openPage('Graphing', this, 'green')" id="defaultOpen">Graphing</button>
    <button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact</button>
    <button class="tablink" onclick="openPage('About', this, 'orange')">About</button>
    
    <div id="popArtists" class="tabcontent">
      <form action="" method="GET">
        <p>Name:</p>
        <p><input type="text" name="nm"/></p>
        <p><input type="submit" value="submit"/></p>
      </form>
      {% for artist in Artists%}
      <p>Artist: {{artist}} <br>Video Count: {{Videos[Artists.index(artist)]}}</p>
      {% endfor %}
    </div>
    
    <div id="Graphing" class="tabcontent">
      <div style="background-color: white;">
      <form id="test" action="" method="GET">
        <p>Name:</p>
        <p><input type="text" name="nm"/></p>
        <p><input type="submit" value="submit"/></p>
      </form>
      <canvas id="myChart" width="400" height="400"></canvas>
      <script>
        const ctx = document.getElementById("myChart").getContext("2d");
        console.log(document.getElementById("test").ATTRIBUTE_NODE);
        let testChart = new Chart(ctx, {
          type: "{{ Style }}" ,
          data: {
            labels: {{ Artists | safe }},
            datasets: [
              {
                label: "# of {{ graphType }}",
                data: {{  Videos | safe}},
                fill: false,
                borderColor: "rgb(75, 192, 192)",
              }
            ]
          },
          options: {
            responsive: false
          }
        });
      </script>
      </div>

      {% for artist in Artists%}
      <p>Artist: {{artist}} <br>Video Count: {{Videos[Artists.index(artist)]}}</p>
      {% endfor %}
      
    </div>
    
    <div id="Contact" class="tabcontent">
      <h3>Contact</h3>
      <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>
    
    <div id="About" class="tabcontent">
      <button onclick="authenticate().then(loadClient)">authorize and load</button>
      <button onclick="execute().then()">execute</button>
    </div> 
  </div>
  </div>

</body>
</html>



<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<script>
    function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click(); 
</script>

